body{
    background: rgba(0,0,0,0.8);
}
*{
    color: dodgerblue;
}
div{
    text-align: center;
}
.myImages {
    border-radius: 2px;
  }
.myImages:hover {
    box-shadow: 0 0 8px 4px rgba(0, 140, 186, 0.5);
  }
